body {
  background-color: #080808;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}
/*Main heading*/
h1 {
  font-size: 65px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 45px;
  text-align: center;
  color: white;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: white;
}

i {
  font-size: 12px;
  color: white;
}

/*image frame*/
iframe {
  border: 2px solid #d8d8d8;
  width: 95%;
  margin: 15px;
  padding-left: 22px;
  padding-right: 30px;
}

img {
  border: 2px solid #d8d8d8;
  width: 90%;
  margin: 15px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57); /*webkit is a HTML,CSS web broswing rendering engine for Safari and Chrome*/
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);/*moz is a vendor pre-fixed property for Mozilla Firefox*/ 
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

/*related to forms */
label {
  width:auto;;
}
/*related to form input*/
input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

/*list usage*/
li {
  font-size: 18px;
  text-align: centre;
}

/*Logo in navbar usage*/
.navbar-brand {
  height: 65px;
  width: 70px;;
  padding-left: 3spx;
}


.navbar {
  background: black;
  height: 100px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

nav {
  padding: 10px 20px;
}

/*paragraph*/
p {
  font-size: 22px;
  text-align: center;
  color: white;
  
}

.display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  padding: 1rem;
}

.image,
.info {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

form .container {
  width: 425px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}



form .button {
  display: block;
  margin: 30px auto;
}

/*unordered list */
ul {
  list-style-type: none;
}

/**/
a {
  color: aqua;;
}

/*responsive stuff for device screens*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }

  .image,
  .info {
    margin-left: 2.5px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}
